*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
}
.w50 {
    width: 50%;
    padding: 8px;
    display: inline-block;
}
.w50 input{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    right: 0;
}
.w50 button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
}
table{
    margin-top: 20px;
    width: 50%;
    text-align: center;
}